* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

.max-width {
    max-width: 100%;
}

#navbar .max-width {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

#navbar .max-width .brand-logo {
    color: white;
    font-size: 2.5rem;
    padding: 2rem;
    font-weight: bold;
}

.navs ul {
    display: flex;
}

.navs ul li {
    color: white;
    display: inline-block;
    padding: 2rem;
    font-size: 2rem;
    font-weight: bold;
}

/*home section*/
.home {
    background-image: url("../assets/samay.jpg");
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.home .max-width .container {

    max-width: 50rem;
    margin: auto 0 0 10rem;
}

.heading {
    font-size: 3rem;
    font-weight: bold;
    color: white;

}

.sub-heading {
    color: white;
    font-size: 2rem;
    padding: 2rem 0;
}

.home-btn {
    color: white;
    font-size: 2rem;
    font-weight: bold;
}

/*videos*/
.videos .max-width {
    padding: 3rem;
    width: 100%;
    background: #112232;
    color: white;
}

.videos .max-width .heading {
    text-align: center;
    font-size: 3rem;
    padding: 4rem;
    color: #000;
}

.videos .container {
    display: flex;
    justify-content: space-evenly;
}

.videos .container .col-left {
    font-size: 2rem;
}

.video-item {
    cursor: pointer;
    list-style: none;
    padding: 1rem;
}

.video-item ::before {
    content: '';
    display: inline-block;
    height: 4rem;
    margin: 0 2rem;
    text-align: center;
    width: 4rem;
    transform: translate(1rem, 1rem);
    background-image: url(../assets/play.svg);
}


.tourDates {
    display: flex;
    justify-content: center;
    background-size: cover;
    background: url("../assets/bg.jpg") no-repeat;

}

.tourDates .max-width {
    width: 80%;
}

.tourDates .heading {
    text-align: left;
    font-size: 3rem;
    color: whitesmoke;
    padding: 4rem;
    font-weight: bold;
}

.tour-item {
    padding: 2rem;
    display: flex;
    justify-content: space-evenly;
    font-size: 2rem;
    color: white;
}

.tour-item:hover {
    background: rgba(245, 247, 255, 0.2);
}

.tour-item .ticket {
    border: 2px solid transparent;
    text-decoration: none;
    color: white;
    padding: 1rem 6rem;
    background: coral;
    border-radius: 10rem;
    transition: all 0.5s ease;
}

.ticket:hover {
    background: none;
    border: 2px solid coral;
}

.news .max-width {
    padding: 4rem;
    width: 100%;
    background: #112232;
}

.news .heading {
    padding: 3rem;
}


.overlay {
    background: white;
    opacity: 0.3;
}

.overlay, .card .content {
    display: none;
}

.card :hover + .content, .overlay {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    color: white;
    width: 100%;
    height: 100%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    font-size: 2rem;
    z-index: 90;
    padding: 2rem 0;
}

.card .content .date {
    margin-bottom: auto;
}

.follow .max-width {
    background: url("../assets/FireShot Capture 054 - Samay Raina on Instagram_ “Testing, testing. Mic check 🎤 I’M HAPPY T_ - www.instagram.com.png");
    width: 100%;
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.follow .max-width a {
    margin-bottom: 8rem;
    text-decoration: none;
    font-size: 2rem;
    padding: 2rem 8rem;
    background: yellow;
    border-radius: 10rem;
}

.management .max-width {
    color: white;
    padding: 4rem;
    background: #112232;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.management .col .content {
    padding: 2rem;
    font-size: 1.75rem;
}

.contact .max-width {
    padding: 3rem;
    background: url("../assets/bg2.jpg");
    display: flex;
    justify-content: space-around;
    color: white;
}

.contact .col-left {
    max-width: 30%;
    font-size: 1.5rem;

}

.contact .col-left .heading {
    padding: 2rem 0;
}

.address-title {
    font-weight: 500;
    font-size: 2rem;
    padding: 2rem 0;
}

.contact .contact-form form {
    display: flex;
    flex-direction: column;
}

.contact-input {
    background: transparent;
    border: 2px solid white;
    width: 40rem;
    padding: 2rem 2rem;
    margin: 0.5rem;
}

.contact-input::placeholder {
    color: white;
    font-size: 1.5rem;
}

.submit-btn {
    margin: 0.5rem;
    outline: none;
    border: none;
    color: white;
    font-size: 1.5rem;
    padding: 1.5rem;
    max-width: 45%;
    background: coral;
}